---
const { data } = Astro.props;
console.log(data);
---

<article>
  <a href={`/products/${data.slug}`}>
    <div class="img_container">
      <img src={data.front} alt="front" class="default-img" />
      <img src={data.back} alt="back" class="hover-img" />
      {
        data.soldout && (
          <>
            <img src="../../illustrationer/vare_overstreget2.svg" alt="overstreg" class="udsolgt" />
            <div class="box">Sold out</div>
          </>
        )
      }
      {
        data.sale && (
          <>
            <div class="box2">On sale</div>
          </>
        )
      }
    </div>
  </a>
  <div class="info">
    <p class="navn">{data.name}</p>

    <!--Med hjælp fra chat GPT-->
    <div class="pris">
      <p class={`${data.sale ? "sale" : ""}`}>{data.price} <span> {`${data.sale ? "" : "DKK"}`}</span></p>
      {data.sale && <p>{data.discountprice} DKK</p>}
    </div>
    <!-- -->
  </div>
</article>

<style>
  a {
    text-decoration: none;
    color: var(--notThatBlack);
    width: 70;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    justify-self: center;
    margin-top: 5%;
  }
  img {
    width: 100%;
  }

  /* Med hjælp fra chat */

  .img_container .hover-img {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .img_container:hover .hover-img {
    opacity: 1;
  }

  .img_container:hover .default-img {
    opacity: 0;
  }

  .navn {
    padding-top: 1%;
    font-weight: bold;
  }

  .pris {
    padding-top: 2%;
    display: flex;
  }
  .sale {
    display: inline-block;
    width: 41px;
    height: 19px;
    background-image: url(../../illustrationer/tekst_krussedulle.svg);
    background-size: contain; /* Sørger for at billedet passer ind i elementet */
    background-repeat: no-repeat;
  }

  .img_container {
    position: relative;
    width: 300px;
    height: 400px;
  }

  /* Med hjælp fra chat */
  .img_container > *:not(.box):not(.box2) {
    width: 100%;
    height: 100%;
  }

  .img_container .box,
  .img_container .box2 {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: var(--notThatBlack);
    color: var(--delicateWhite);
    padding: 10px;
    font-family: var(--primary);
  }

  .img_container .box2 {
    background-color: var(--accentColor);
    padding-left: 9%;
    padding-right: 9%;
  }

  .img_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .udsolgt {
    background-color: transparent;
  }

  @media (max-width: 1100px) {
    .img_container {
      width: 250px;
      height: 350px;
    }
  }

  @media (max-width: 950px) {
    .img_container {
      width: 200px;
      height: 300px;
    }
    .navn {
      font-size: 0.8rem;
    }

    .pris p {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 800px) {
    .img_container {
      width: 225px;
      height: 310px;
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 67%;
      justify-self: center;
      left: 0%;
      position: relative;
      padding-left: 0%;
    }
  }

  @media (max-width: 550px) {
    .img_container {
      width: 211px;
      height: 300px;
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 67%;
      justify-self: center;
      left: 0%;
      position: relative;
    }
  }
</style>
